{% extends 'base.html' %}
{% load static %}
{%block css%}
    html,body{height:100%;}
    ion-icon{width:2em;height:2em;}
    .optionbar{height:100%;background-color:#2d2d31;height:35em;padding-top:1em;padding-left:1em!important;padding-right:1.5em;}
    #options{height:2em;width:auto;background-color:#2C2C320;margin-top:0.5em;border-radius:0.4em;padding-top:0.4em;padding-left:1em;padding-right:1em;}
    #links{color:#BCBCC2;text-decoration:none;font-family:ubuntu;font-size:0.9em;}
{%endblock%}
{% block content%}
  <div class="row">
    <div class="col-sm-2 optionbar">
        <div id="options">
            <a href="/" id="links">
              Home
            </a>
        </div>
        <div id="options">
            <a href="{% url 'taskadd' %}" id="links">
              Add Task
              
            </a>
        </div>
        <div id="options">
            <a href="#" id="links">
              Performance
            </a>
        </div>
    </div>
    <div class="col-sm-5 addtask">
        <form action="taskadd" method="post">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <input type="text" name="taskname" class="form-control mb-2 mt-4 mr-sm-2"  placeholder="Task Name..." id="taskname" maxlength="50">
                </div>
                <div class="form-group col-md-12">
                    <textarea type="text" name="taskdetail" class="form-control form-control-sm mr-sm-4" placeholder="Describe Task" rows="8" id="taskdetail" maxlength="150"></textarea><br/>
                </div>
                <div class="form-group col-md-12">
                    <input name="enddate" id="datepicker" placeholder="Choose End Date...">
                </div>
            </div>
            <button type="submit" id="button-submit">Add Task</button>
        </form>
    
    </div>
    <div class="col-sm-5">

    </div>
  </div>

  <script>
    $(function () {
      $("#datepicker").datepicker({
        format:'YYYY-MM-DD',
      }
        );
    });
</script>
{% endblock%}