{% extends 'base.html' %}
{% load static %}
{% block url%}
<script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
{% endblock%}
{% block css%}
#task-head{font-family:monospace;color:#0E0F16;font-weight:600;font-size:1.6em;}
#add-sub{height:2em;width:2em;font-size:1.6em;color:#569F5C;}
#icon-del{height:2em;width:2em;font-size:1.6em;color:#F44336;}
{% endblock%}




{% block content%}
<div class="row mt-4 ml-4">
    <div class="col-md-5 mt-4">
        <ul class="list-group">
            <li class="list-group-item">
                <h4 id="task-head">{{ tasks.task_h }}</h4>
                <div class="float-right">
                    <form action="/del_task/{{tasks.id}}/" method="post" class="form-inline">
                        <button type="submit" class="btn btn-sm btn-light ml-2">
                            <ion-icon name="close-circle-sharp" id="icon-del"></ion-icon>
                        </button>
                    </form>
                </div>
            </li>

             <li class="list-group-item">{{ tasks.task_d }}</li>
        </ul>
    </div>
    <div class="cols-md-3 ml-4">
        <form  method="post" class="form-inline">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <input type="text" name="subtaskname" class="form-control mb-2 mt-4 mr-sm-2"  placeholder="Subtask...">
                </div>
            </div>
            <button type="submit" class="btn btn-sm mt-3">
                <ion-icon name="add-circle" id="add-sub"></ion-icon>
            </button>
        </form>
        <ul class="list-group">
        	{% for sub in subtask %}
            <li class="list-group-item">
                {{ sub.taskname }}
                <div class="float-right">
                <form action="/subtask_del_task/{{sub.id}}/{{ tasks.id }}" method="post" class="form-inline">
                    <button type="submit" class="btn btn-sm btn-light ml-2">
                            <ion-icon name="close-circle"></ion-icon>
                    </button>
                </form>
            	</div>
                
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="cols-md-3 ml-4">
        <ul class="list-group">
            {% for subcompleted in subtaskc %}
            <li class="list-group-item">
                <p style="color:#04AF52;font-size:0.9em;text-decoration:line-through;">{{ subcompleted.taskname }}</p>
            </li>
            {% endfor %}
        </ul>

    </div>

</div>
{% endblock%}


