{% extends 'base.html' %}
{% load static %}
{% block content%}
<div class="row mt-4 ml-4">
    <div class="col-md-6">
        <ul class="list-group">
        {% for task in tasks %}
        <a href="{% url 'main:detail_tasks' task.id %}" style="text-decoration:none;"> 
            <li class="list-group-item">{{ task.task_h }}
                <div class="float-right">
                    <form action="del_task/{{task.id}}/" method="post" class="form-inline">
                        <button type="submit" class="btn btn-sm btn-danger ml-2">
                            <span class="glyphicon glyphicon-remove"></span> Remove
                        </button>
                    </form>
                </div>
            </li>
        </a>
        {% endfor%}
        </ul>
    </div>
    <div class="cols-md-6 ml-4">
        <h5 style="font-family: monospace;color:#097C25;">Completed Tasks</h5><br>
        <ul class="list-group">
        {% for complete in completed %}
            <li class="list-group-item" style="text-decoration:line-through;">
                <div style="color:#253746;">{{ complete.task_ch }}</div>
            </li>
        {% endfor %}
        </ul>
    </div>

</div>
{% endblock%}


