{% extends 'base.html' %}
{% load static %}
{%block css%}
#leftbar{background-color:#292E33;height:9em;width:3em;border-radius:15px;margin-top:12em;margin-left:-0.5em;padding-left:0.7em;padding-top:1.5em;}
ion-icon{color:#4567D9;width:1.6em;height:1.6em;}
{% endblock%}
{% block content%}
  <div class="row">
    <div class="col-sm-1">
      <div id="leftbar">
        <a href="{% url 'add_task' %}"><ion-icon name="duplicate"></ion-icon></a>
        <a href=""><ion-icon name="checkmark-done-circle"></ion-icon></a>
        <a href="#"><ion-icon name="cellular"></ion-icon></a>

      </div>

    </div>
    <div class="col-sm-5">
      <ul class="list-group">
    {% for task in tasks %}
      {% if task.main_t.complete %}
      <li class="list-group-item" style="background-color:lightgreen">{{ task }}
          <div class="float-right">
            <form action="{% url 'del_task' task.id %}" method="post" class="form-inline">
              <button type="submit" class="btn btn-sm btn-danger ml-2">Delete</button>
            </form>
          </div>
          <span class="badge badge-secondary">{{ task.main_t.end_date }}</span>
      </li>
      {% elif task.main_t.end_date < time and not task.main_t.complete %}
      <li class="list-group-item" style="background-color: #FA8268;">{{ task }}
        <div class="float-right">
        <form action="{% url 'del_task' task.id %}" method="post" class="form-inline">
        <button type="submit" class="btn btn-sm btn-danger ml-2">Delete</button>
        </form>
        </div>
        <ul class="list-group">
          {% for sub in task.sub_t.all %}
          {% if sub.complete %}
          <li class="list-group-item">{{sub}}-Complete
            <div class="float-right">
              <form action="{% url 'del_sub' task.id sub.id %}" method="post" class="form-inline">
              <button type="submit" class="btn btn-sm btn-danger ml-2">Delete</button>
              </form>
            </div>
          </li>
          {% else %}
            <li class="list-group-item">
              <form action="{% url 'complete' task.id sub.id %}" method="POST">
              <button type="submit"><input type="radio" value="True"></button>
              </form>{{sub}}
              <div class="float-right">
                <form action="{% url 'del_sub' task.id sub.id %}" method="post" class="form-inline">
                <button type="submit" class="btn btn-sm btn-danger ml-2">Delete</button>
                </form>
              </div>
            </li>
          {% endif %}
          {% endfor %}
        </ul>
        <form action="{% url 'add_sub' task.id %}" method="post" class="form-inline">
          <input type="text" name="subtask" placeholder="Enter sub Tasks here">
          <input type="submit" placeholder="Add">
        </form>
        <span class="badge badge-secondary">{{ task.main_t.end_date }}</span>
      </li>
      {% else %}
      <li class="list-group-item" style="background-color: #65BBF3">{{ task }}
        <div class="float-right">
        <form action="{% url 'del_task' task.id %}" method="post" class="form-inline">
        <button type="submit" class="btn btn-sm btn-danger ml-2">Delete</button>
        </form>
        </div>
        <ul class="list-group">
          {% for sub in task.sub_t.all %}
          {% if sub.complete %}
          <li class="list-group-item">{{sub}}-Complete
            <div class="float-right">
              <form action="{% url 'del_sub' task.id sub.id %}" method="post" class="form-inline">
              <button type="submit" class="btn btn-sm btn-danger ml-2">Delete</button>
              </form>
            </div>
          </li>
          {% else %}
            <li class="list-group-item">
              <form action="{% url 'complete' task.id sub.id %}" method="POST">
              <button type="submit" id="radiosubmit" ><input type="radio" name="complete_var" onclick="butclick()" value="True"></button>
              </form>{{sub}}
              <script>
                function butclick(){
                  document.getElementById("radiosubmit").click();
                }
              </script>
              <div class="float-right">
                <form action="{% url 'del_sub' task.id sub.id %}" method="post" class="form-inline">
                <button type="submit" class="btn btn-sm btn-danger ml-2">Delete</button>
                </form>
              </div>
            </li>
          {% endif %}
          {% endfor %}
        </ul>
        <form action="{% url 'add_sub' task.id %}" method="post" class="form-inline">
          <input type="text" name="subtask" placeholder="Enter sub Tasks here">
          <input type="submit" placeholder="Add">
        </form>
        <span class="badge badge-secondary">{{ task.main_t.end_date }}</span>
      </li>
      {% endif %}
    {% endfor%}
  </ul>
    </div>
    <div class="col-sm-6">

    </div>
  </div>
{% endblock%}