{% extends 'base.html' %}
{% load static %}
{% block css%}
#icon-compl{height:2em;width:2em;font-size:1.6em;color:#63A869;}
{% endblock%}
{% block content%}
<div class="row mt-4 ml-4">
    <div class="col-md-6 mt-4">
        <ul class="list-group">
        {% for task in tasks %}
        <a href="{% url 'main:detail_tasks' task.id %}" style="text-decoration:none;"> 
            <li class="list-group-item mb-2">{{ task.task_h }}
                <div class="float-right">
                    <form action="compl_task/{{task.id}}/" method="post" class="form-inline">
                        <button type="submit" class="btn btn-sm btn-light ml-2 mt-0">
                            <ion-icon name="checkmark-circle-sharp" id="icon-compl"></ion-icon>
                        </button>
                    </form>
                </div>
                <br><br>
            </li>
        </a>
        {% endfor%}
        </ul>
    </div>
    <div class="cols-md-6 ml-4">
        <h5 style="font-family: monospace;color:#097C25;">Completed Tasks</h5><br>
        <ul class="list-group">
        {% for complete in completed %}
            <li class="list-group-item" style="text-decoration:line-through;">
                <div style="color:#3B4B6B;">{{ complete.task_h }}</div>
            </li>
        {% endfor %}
        </ul>
    </div>

</div>
{% endblock%}


